.split {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.dark-mode .gutter {
  filter: invert(90%);
}

@media (max-width: 767px) {
  .split {
    flex-direction: column-reverse;
  }

  .split > .editor-pane,
  .split > .preview-pane {
    /* Override the widths set by Split.js for the desktop layout. */
    width: 100% !important;
  }

  .split > .editor-pane {
    flex: 3 1 0;
  }

  .split > .preview-pane {
    flex: 2 1 0;
  }

  .split > .gutter {
    display: none;
  }
}
